@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Your other global styles can go here */
:root {
  --font-geist-sans: "Geist Sans", monospace;
  --font-geist-mono: "Geist", sans-serif;
}
html {
  @apply scroll-smooth;
  font-family: var(--font-geist-sans);
}
body {
  @apply bg-background text-foreground antialiased;
}

.animate-pulse-opacity {
  animation: pulseOpacity 8s ease-in-out infinite;
}
@keyframes pulseOpacity {
  0%,
  100% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
}
